body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center
}
#container{
  margin-top: 50px
}
#drum-machine{
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#drum-wrap{
  width: 500px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid greenyellow;
  background-color: teal;
  border-radius: 30px;
}
#drum-pad{
  display: grid;
  grid-template-columns: 32% 32% 32%;
  row-gap: 5px;
  column-gap: 5px;
  justify-items: center;
  padding: 50px 15px 50px 17px;
  
}
.drum-pad{
  width: 100%;
  height: 60px;
  box-shadow: 1px 1px 8px 0px #142929;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
}
#display{
  width: 142px;
  background-color: yellowgreen;
  margin: 15px auto;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
}
#chords-display{
  padding: 120px 20px 0px 20px;
}